.u-pc__show {
  display: block;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.u-sp__show {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.u-mt__200 { margin-top: 200px; }
.u-mt__190 { margin-top: 190px; }
.u-mt__180 { margin-top: 180px; }
.u-mt__170 { margin-top: 170px; }
.u-mt__160 { margin-top: 160px; }
.u-mt__150 { margin-top: 150px; }
.u-mt__140 { margin-top: 140px; }
.u-mt__130 { margin-top: 130px; }
.u-mt__120 { margin-top: 120px; }
.u-mt__110 { margin-top: 110px; }
.u-mt__100 { margin-top: 100px; }
.u-mt__90 { margin-top: 90px; }
.u-mt__80 { margin-top: 80px; }
.u-mt__70 { margin-top: 70px; }
.u-mt__60 { margin-top: 60px; }
.u-mt__50 { margin-top: 50px; }
.u-mt__40 { margin-top: 40px; }
.u-mt__30 { margin-top: 30px; }
.u-mt__20 { margin-top: 20px; }
.u-mt__10 { margin-top: 10px; }
.u-mb__200 { margin-bottom: 200px; }
.u-mb__190 { margin-bottom: 190px; }
.u-mb__180 { margin-bottom: 180px; }
.u-mb__170 { margin-bottom: 170px; }
.u-mb__160 { margin-bottom: 160px; }
.u-mb__150 { margin-bottom: 150px; }
.u-mb__140 { margin-bottom: 140px; }
.u-mb__130 { margin-bottom: 130px; }
.u-mb__120 { margin-bottom: 120px; }
.u-mb__110 { margin-bottom: 110px; }
.u-mb__100 { margin-bottom: 100px; }
.u-mb__90 { margin-bottom: 90px; }
.u-mb__80 { margin-bottom: 80px; }
.u-mb__70 { margin-bottom: 70px; }
.u-mb__60 { margin-bottom: 60px; }
.u-mb__50 { margin-bottom: 50px; }
.u-mb__40 { margin-bottom: 40px; }
.u-mb__30 { margin-bottom: 30px; }
.u-mb__20 { margin-bottom: 20px; }
.u-mb__10 { margin-bottom: 10px; }
.u-ml__200 { margin-left: 200px; }
.u-ml__190 { margin-left: 190px; }
.u-ml__180 { margin-left: 180px; }
.u-ml__170 { margin-left: 170px; }
.u-ml__160 { margin-left: 160px; }
.u-ml__150 { margin-left: 150px; }
.u-ml__140 { margin-left: 140px; }
.u-ml__130 { margin-left: 130px; }
.u-ml__120 { margin-left: 120px; }
.u-ml__110 { margin-left: 110px; }
.u-ml__100 { margin-left: 100px; }
.u-ml__90 { margin-left: 90px; }
.u-ml__80 { margin-left: 80px; }
.u-ml__70 { margin-left: 70px; }
.u-ml__60 { margin-left: 60px; }
.u-ml__50 { margin-left: 50px; }
.u-ml__40 { margin-left: 40px; }
.u-ml__30 { margin-left: 30px; }
.u-ml__20 { margin-left: 20px; }
.u-ml__10 { margin-left: 10px; }
.u-mr__200 { margin-right: 200px; }
.u-mr__190 { margin-right: 190px; }
.u-mr__180 { margin-right: 180px; }
.u-mr__170 { margin-right: 170px; }
.u-mr__160 { margin-right: 160px; }
.u-mr__150 { margin-right: 150px; }
.u-mr__140 { margin-right: 140px; }
.u-mr__130 { margin-right: 130px; }
.u-mr__120 { margin-right: 120px; }
.u-mr__110 { margin-right: 110px; }
.u-mr__100 { margin-right: 100px; }
.u-mr__90 { margin-right: 90px; }
.u-mr__80 { margin-right: 80px; }
.u-mr__70 { margin-right: 70px; }
.u-mr__60 { margin-right: 60px; }
.u-mr__50 { margin-right: 50px; }
.u-mr__40 { margin-right: 40px; }
.u-mr__30 { margin-right: 30px; }
.u-mr__20 { margin-right: 20px; }
.u-mr__10 { margin-right: 10px; }
