<%
  var meta = {
    title: '',
    pageTitle: '',
    description: '',
    keywords: '',
    absolute : ''
  },
  setting = {
    body_id: 'top'
  }
%>
<% include ./_inc/_head %>
<body>
  <div id="canvas"></div>
  <% include ./_inc/_script %>
</body>
</html>
